/* Брейкпоинты и эталонные разрешения */
:root {
  /* Десктоп */
  --bp-xl: 1920px;
  --ref-xl: 1920;
  
  /* Ноутбуки */
  --bp-lg: 1440px;
  --ref-lg: 1440;
  
  /* Планшеты (горизонтальные) */
  --bp-md: 1024px;
  --ref-md: 768;
  
  /* Планшеты (вертикальные) */
  --bp-sm: 768px;
  --ref-sm: 640;
  
  /* Телефоны */
  --bp-xs: 480px;
  --ref-xs: 375;
  
  /* Маленькие телефоны */
  --bp-xxs: 360px;
  --ref-xxs: 320;
}